body {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    background: #fff;
}
.bg1 {
    width: 100%;
    height: 100vh; 
    background: url('img/bg1.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bg1 h1 {
    color: #ed225d;
    font-size: 10rem;
    margin: 0;
}

.bg2 {
    width: 100%;
    height: 100vh; 
    background: url('img/bg2.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.text {
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    text-transform: uppercase;
    z-index: 1;
}

.text h1 {
    font-size: 4rem;
    padding-left: 3rem;
}
.text p {
    font-size: 2rem;
    padding-left: 3rem;
}
.footer {
    width: 100%;
    height: 10vh;
    background: #222;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer p {
    color: #fff;
    font-size: 2rem;
    letter-spacing: 1rem;
    text-transform: uppercase;
}

@media only screen and (max-width: 568px) {
    .text h1 {
        font-size: 2rem;
    }
    .text p {
        font-size: 0.7rem;
        padding: 0.5rem;
    }

    .bg1 h1 {
        color: #ed225d;
        font-size: 6rem;
        margin: 0;
    }
    .footer p {
        font-size: 1rem;
        letter-spacing: 5px;
    }
    .text {
        height: 60vh;
    }
}